In [2]:
import pandas as pd
pd.set_option('display.max_columns', 500)

In [4]:
df = pd.read_excel("data/Extraction_IJ/Extraction_IJ_hebdo_UNIV_LYON_Compte U.xlsx", sheet_name='Extraction hebdomadaire 1')
df2 = pd.read_excel("data/Extraction_IJ/Extraction_IJ_hebdo_UNIV_LYON_Compte U.xlsx", sheet_name='Extraction hebdomadaire 2')

In [5]:
result_df = pd.concat([df, df2], axis=0)

In [6]:
result_df

,Application de traitement,Périodicité,Caisse,Période début,Période fin,Risque,Injecteur de la déclaration de salaire,Destinataire du règlement,COVID,Nombre 1ère IJ,Délai de paiement,Nombre DSN,Nombre DSIJ,Nombre papier,Code semaine,Délai après réception de la déclaration de salaire
0,PROGRES TS,Hebdomadaire,11,2021-01-04,2021-01-10,MALADIE,Non déterminé,N : HORS SUBRO,NON,682,35.441349,ND,ND,ND,202101,NaN
1,PROGRES TS,Hebdomadaire,11,2021-01-04,2021-01-10,MALADIE,Non déterminé,N : HORS SUBRO,OUI,102,38.303922,ND,ND,ND,202101,NaN
2,PROGRES TS,Hebdomadaire,11,2021-01-04,2021-01-10,MALADIE,Non déterminé,O : SUBRO,NON,442,37.821267,ND,ND,ND,202101,NaN
3,PROGRES TS,Hebdomadaire,11,2021-01-04,2021-01-10,MALADIE,Non déterminé,O : SUBRO,OUI,78,44.743590,ND,ND,ND,202101,NaN
4,PROGRES TS,Hebdomadaire,11,2021-01-04,2021-01-10,AT,Non déterminé,N : HORS SUBRO,NON,115,33.582609,ND,ND,ND,202101,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123008,PROGRES TS,Hebdomadaire,974,2023-11-06,2023-11-12,PATERNITE,2 - PROGRES PE EDI Machine-Machine,N : HORS SUBRO,NON,3,NaN,0,3,NC,202345,68.000000
123009,PROGRES TS,Hebdomadaire,974,2023-11-06,2023-11-12,PATERNITE,3 - PROGRES PE DSN,N : HORS SUBRO,NON,63,NaN,63,0,NC,202345,8.492063
123010,PROGRES TS,Hebdomadaire,974,2023-11-06,2023-11-12,PATERNITE,3 - PROGRES PE DSN,O : SUBRO,NON,11,NaN,11,0,NC,202345,16.090909
123011,PROGRES TS,Hebdomadaire,974,2023-11-06,2023-11-12,PATERNITE,6 - PROGRES PE EFI,N : HORS SUBRO,NON,35,NaN,0,35,NC,202345,19.685714
123012,PROGRES TS,Hebdomadaire,974,2023-11-06,2023-11-12,PATERNITE,6 - PROGRES PE EFI,O : SUBRO,NON,8,NaN,0,8,NC,202345,10.000000

In [8]:
resultat_groupby = result_df.groupby(['Code semaine'])['Délai après réception de la déclaration de salaire'].mean().reset_index()

In [9]:
resultat_groupby

     Code semaine  Délai après réception de la déclaration de salaire
0          202101                                                NaN
1          202102                                                NaN
2          202103                                                NaN
3          202104                                                NaN
4          202105                                                NaN
..            ...                                                ...
144        202341                                          11.062485
145        202342                                          10.698269
146        202343                                          10.615627
147        202344                                           9.678203
148        202345                                          11.040307

[149 rows x 2 columns]

In [17]:
resultat_groupby = resultat_groupby.dropna()

In [18]:
resultat_groupby

     Code semaine  Délai après réception de la déclaration de salaire
104        202301                                          12.284907
105        202302                                          12.604529
106        202303                                          12.509303
107        202304                                          13.118509
108        202305                                          11.690917
109        202306                                          12.424123
110        202307                                          13.911804
111        202308                                          13.941364
112        202309                                          14.312058
113        202310                                          14.487416
114        202311                                          15.772031
115        202312                                          17.068364
116        202313                                          16.559310
117        202314                                          16.166888
118        202315                                          16.474912
119        202316                                          16.971747
120        202317                                          16.828744
121        202318                                          16.540811
122        202319                                          18.054984
123        202320                                          17.657706
124        202321                                          18.219819
125        202322                                          15.707196
126        202323                                          16.622438
127        202324                                          15.725689
128        202325                                          13.619957
129        202326                                          12.643347
130        202327                                          12.031316
131        202328                                          11.313009
132        202329                                          12.287070
133        202330                                          11.006608
134        202331                                          10.662450
135        202332                                          10.891510
136        202333                                          12.843841
137        202334                                          12.649664
138        202335                                          10.960247
139        202336                                          11.072190
140        202337                                          11.278471
141        202338                                          11.493981
142        202339                                          11.373224
143        202340                                          10.199753
144        202341                                          11.062485
145        202342                                          10.698269
146        202343                                          10.615627
147        202344                                           9.678203
148        202345                                          11.040307

In [11]:
df_tx = pd.read_excel("data/Projet 2_IJ et front_indicateurs V3_2.xlsx", sheet_name='Tx itération multicanal',skiprows=range(1, 21),header=1)

In [12]:
df_tx

,Code indicateur,Type de période,Période,Num organisme,Txt organisme,Libellé organisme,Axe 1,Axe 2,Axe 3,Axe 4,Axe 5,Mesure 1,Mesure 2,Mesure 3
0,Itérations,M,202201,141,CP141,141-Caen,Tous Canaux Entrant,NaN,NaN,NaN,NaN,NaN,NaN,4198
1,Itérations,M,202201,202,CP202,202-Bastia,Tous Canaux Entrant,NaN,NaN,NaN,NaN,NaN,NaN,1486
2,Itérations,M,202201,301,CP301,301-Nîmes,Tous Canaux Entrant,NaN,NaN,NaN,NaN,NaN,NaN,5649
3,Itérations,M,202201,342,CP342,342-Hérault,Tous Canaux Entrant,NaN,NaN,NaN,NaN,NaN,NaN,9713
4,Itérations,M,202201,361,CP361,361-Châteauroux,Tous Canaux Entrant,NaN,NaN,NaN,NaN,NaN,NaN,1159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8942,Itérations,M,202201,871,CP871,871-Limoges,Telephone Entrant,NaN,NaN,NaN,NaN,0.086491,9053.0,783
8943,Itérations,M,202201,791,CP791,791-Niort,Telephone Entrant,NaN,NaN,NaN,NaN,0.120652,10551.0,1273
8944,Itérations,M,202201,841,CP841,841-Avignon,Telephone Entrant,NaN,NaN,NaN,NaN,0.150080,20096.0,3016
8945,Itérations,M,202201,921,CP921,921-Nanterre,Telephone Entrant,NaN,NaN,NaN,NaN,0.123895,43771.0,5423
8946,Itérations,M,202201,973,CG973,973-Guyane,Telephone Entrant,NaN,NaN,NaN,NaN,0.151095,3971.0,600

In [13]:
resultat_groupby2 = df_tx.groupby(['Période'])['Mesure 3'].mean().reset_index()

In [14]:
resultat_groupby2

    Période     Mesure 3
0    202201  2699.767059
1    202202  2643.320843
2    202203  2979.905882
3    202204  2410.837647
4    202205  2724.823529
5    202206  2619.491765
6    202207  2270.341176
7    202208  2231.677647
8    202209  2358.995294
9    202210  2249.068235
10   202211  2244.428235
11   202212  2102.529412
12   202301  2331.485915
13   202302  2019.348946
14   202303  2286.721963
15   202304  1881.826698
16   202305  1890.586449
17   202306  1927.342723
18   202307  1733.274005
19   202308  1623.584112
20   202309  1701.717290

In [20]:
result_join = pd.merge(resultat_groupby, resultat_groupby2, left_on='Code semaine', right_on='Période', how='left')
# Drop the duplicate 'Num organisme' column if needed
# result_join = result_join.drop(columns='Num organisme')
result_join = result_join.rename(columns={'Mesure 3': 'Solicitation front'})

In [21]:
result_join

,Code semaine,Délai après réception de la déclaration de salaire,Période,Solicitation front
0,202301,12.284907,202301.0,2331.485915
1,202302,12.604529,202302.0,2019.348946
2,202303,12.509303,202303.0,2286.721963
3,202304,13.118509,202304.0,1881.826698
4,202305,11.690917,202305.0,1890.586449
5,202306,12.424123,202306.0,1927.342723
6,202307,13.911804,202307.0,1733.274005
7,202308,13.941364,202308.0,1623.584112
8,202309,14.312058,202309.0,1701.717290
9,202310,14.487416,NaN,NaN
10,202311,15.772031,NaN,NaN
11,202312,17.068364,NaN,NaN
12,202313,16.559310,NaN,NaN
13,202314,16.166888,NaN,NaN
14,202315,16.474912,NaN,NaN
15,202316,16.971747,NaN,NaN
16,202317,16.828744,NaN,NaN
17,202318,16.540811,NaN,NaN
18,202319,18.054984,NaN,NaN
19,202320,17.657706,NaN,NaN
20,202321,18.219819,NaN,NaN
21,202322,15.707196,NaN,NaN
22,202323,16.622438,NaN,NaN
23,202324,15.725689,NaN,NaN
24,202325,13.619957,NaN,NaN
25,202326,12.643347,NaN,NaN
26,202327,12.031316,NaN,NaN
27,202328,11.313009,NaN,NaN
28,202329,12.287070,NaN,NaN
29,202330,11.006608,NaN,NaN
30,202331,10.662450,NaN,NaN
31,202332,10.891510,NaN,NaN
32,202333,12.843841,NaN,NaN
33,202334,12.649664,NaN,NaN
34,202335,10.960247,NaN,NaN
35,202336,11.072190,NaN,NaN
36,202337,11.278471,NaN,NaN
37,202338,11.493981,NaN,NaN
38,202339,11.373224,NaN,NaN
39,202340,10.199753,NaN,NaN
40,202341,11.062485,NaN,NaN
41,202342,10.698269,NaN,NaN
42,202343,10.615627,NaN,NaN
43,202344,9.678203,NaN,NaN
44,202345,11.040307,NaN,NaN